.flat{
    width: 100%;
    background: #e4e4e4;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 0 3px 3px #f2f2f2;
}
.flat-title{
    font-size: 20px;
}
.flat-address{
    font-size: 12px;
}
.flat:hover{
    box-shadow: 0 0 3px 3px #cccccc;
}
#flats-wrapper {
    margin-top: 25px;
    margin-bottom:25px;
}
.fa-caret-down{
    padding: 0; 
    float: right;
}
@media (max-width: 600px) {
    .flats{
        margin-top: 20px;
    }
}
.right-border {
    border-right: 1px solid black;
}
.bottom-border {
    border-bottom: 1px solid black;
}
@media (max-width: 600px){
    .right-border {
        border-right: none;
    }
    .bottom-border {
        border-bottom: none;
    }
    .main-items{
        margin: 12px;
    }
}
.more-details{
    width: 100%;
    box-shadow: 0 0 3px 3px #f2f2f2;
    padding: 5%;
}
.btn{
    margin-top: 15px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn a:hover, .btn a:visited{
    text-decoration: none;
    color: white;
}

.container {
    display: block;
    position: relative;
    padding: 0 20px;
    right: 0.2em;    
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    opacity: 0;
    cursor: pointer;
    height: 1em;
    width: 1em;
    padding-right: 1em;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0.2em;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.4em;
    top: 0.2em;
    width: 5px;
    height: 0.5em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
