.flat-box{
    width: 250px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;		 
    background-color: white;
    margin-left: 85px;
    border-radius: 18px;
    padding:15px;
    box-shadow: 5px 10px #D3D3D3;
    transition: transform 0.7s ease-in-out;
}
.img-box{
    border: 1px solid black; 
    width: 125px;
    height: 150px;
}
a{
    text-decoration: none;
}