#main-container {
    box-shadow: 0 0 3px 3px #ccc;
    margin: 2% auto;
    width: 70%;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 1%;
    padding: 2%;

}
.form_input{
    margin: 7px;
}

#submit_button button{
    width:100%;
}

.form_input input, textarea, select{
    width: 100%;
}

label{
    font-size: 17px;
    font-weight: bold;
}
#button-div{
    margin-bottom: 12px; 
}
#no-label{
    font-weight: unset;
}
.image-upload-zone{
    height: 150px;
    line-height: 150px;
    border: 2px dashed #ccc;
    color: #ccc;
    text-align: center;
}
.dragzone-drag-over{
    border: 2px dashed #000;
    color: #000;
}
#files-list {
    display: none;
}
#files-list:nth-child(odd){
    padding: 5px;
    background-color: #dee2e6;
}
.hidden-input{
    display: none;
}