#main-container {
    box-shadow: 0 0 3px 3px #f2f2f2;
    width: 80%;
}
.form_input{
    margin: 7px;
}
.form_input input, textarea, select{
    width: 100%;
}
#form-container {
    width: 100%;
    justify-content: center;
}
label{
    font-size: 17px;
    font-weight: bold;
}
#button-div{
    margin-bottom: 12px; 
}
#no-label{
    font-weight: unset;
}