
{
  width: 100%;
  height: 100%;
  background: grey;
}
.home
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item
{
  height: 500px;
  width: 500px;
  background: white;
  border-radius: 15px;
}
.content
{
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.in
{
  padding: 15px;
}
.logo
{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid black;
  color: black;
  margin-bottom: 20px;
  padding: 2px;
  line-height:90px;
}
.logo h1
{
  font-weight: 700;
  font-size: 40px;
}
input[type=text],
input[type=email],
input[type=email2],
input[type=password]
{
  background:0 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid black;
  border-radius: 0;

}
.lg
{
  margin-bottom: 20px;
}
.input-group-addon
{
  background: 0 0;
  border: 0;
  color:black;
}
.btn-info
{
  border: 0;
  background: #ff3366;
  border-radius: 30px;

}
input[type=text],
input[type=email],
input[type=email2],
input[type=password]:focus{
  box-shadow:none !important;
}
