<!DOCTYPE html>
<html>
<head>
	<title>PGCorp | {% block title %}Home{% endblock %}</title>
	{% load staticfiles %}
	<link rel="icon" href="{% static 'favicon.ico'%}">
	<link rel="stylesheet" href="{% static 'Accounts/base.css' %}">
	{% block cssfiles %}
    {% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<!-- Navbar code goes here -->
<nav class="navbar navbar-expand-sm bg-light navbar-light" id="navbar" role="navigation">
	<a href="{% url 'land_page' %}" class="navbar-brand">PGCORP</a>

	<button class="navbar-toggler" type="button" data-target="#collapseNavbar" data-toggle="collapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="collapseNavbar" class="collapse navbar-collapse">
		<ul class="navbar-nav">
			
			<li class="nav-item">
				<a class="nav-link" href="{% url 'land_page' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'all_flats' %}">Rent a flat</a>
			</li>
			{% if user.pgcorp_user.user_type == 1 %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'post' %}">Post a flat</a>
			</li>
			{% endif %}
		</ul>
		<!--Items to the right of the navbar-->
		<ul class="navbar-nav ml-auto">
		{% if not user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signup' %}">Signup</a>
			</li>
			{% else %}
			<div class="dropdown">
				<buttton class="dropdown-toggle btn" data-toggle="dropdown">
					Welcome, {{user}}
				</buttton>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'profile' %}">Dashboard</a>
					<a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
				</div>
			</div>
		{% endif %}
		</ul>	
	</div>	
</nav>
<div class="progress-indicator">
	<div class="progress-bar" id= "mybar"></div>
</div> 
<!-- Navbar ends here -->

<body>
{% block content %}
{% endblock %}
</body>
<footer>
	<div id="footer-wrapper">
		<div id="footer" class="container">
			<div class="row">
				<div class="col-sm-3" id="footer-logo" align="center">
					<div id="logo-text" class="display-4">PGCORP</div>
				</div>
				<div class="col-sm-2">
					<h5 class="footer-heading">Useful Links</h5>
					<ul class="footer-ul">
						<li class="footer-link-li">
							<a href="#" class="footer-link">Rent a flat</a>
						</li>
						<li class="footer-link-li">
							<a href="#" class="footer-link ">Post a flat</a>
						</li>
						<li class="footer-link-li">
							<a href="#" class="footer-link" >Rent a flat</a>
						</li>
						<li class="footer-link-li">
							<a href="#" class="footer-link" >Rent a flat</a>
						</li>	
					</ul>
				</div>
				<div class="col-sm-2">
					<h5 class="footer-heading">User actions</h5>
					<ul class="footer-ul">
						<li class="footer-link-li">
							<a href="{% url 'login'%}" class="footer-link" >Login</a>
						</li>
						<li>
							<a href="{% url 'signup' %}" class="footer-link" >Register</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5 class="footer-heading">Team Members</h5>
					<ul class="footer-ul">
						<li class="footer-link-li">Walsh Fernandes</li>
						<li class="footer-link-li">Rahul Nandrajog</li>
						<li class="footer-link-li">Aniket Shinde</li>
						<li class="footer-link-li">Harsh Motwani</li>
					</ul>
				</div>
				<div class="col-sm-2">
					<h5 class="footer-heading">Follow us on</h5>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-google"></a>
					<a href="#" class="fa fa-youtube"></a>
					<a href="#" class="fa fa-instagram"></a>
				</div>
			</div>
		</div>
	</div>
</footer>

</html>
<script type="text/javascript">
	// this is the script that generates suggestions for the search bar
	$("#search").focus(function() {
		// when the search bar is focuesed, the dropdown pops up
		$(".results-dropdown").show();
	});
	$("#search").focusout(function() {
		// when the focus is out from the search bar and the search has no 
		// value in it, hide the dropdown
		if(!$(".results-dropdown").val())
			$(".results-dropdown").hide();
	});
	$(".results-dropdown").change(function() {
		// on selection of an option from the dropdown
		// the value in the text box changes
		var string = $("select option:selected").text();
		$("#search").val(string);
	});
	$("#search").keyup(function() {
		// grab the search bar 
		var search = $("#search");

		if(search.val().length == 0) {
			// if user clears the search bar, empty the suggestions
			$('.results-dropdown').html("");
		}else{
			// if there is something in the search bar do a ajax request
			$.ajax({
				// url to request data from
				url: "{% url 'ajax-search' %}",
				// data to be passed in the request
				data: {
					'data': search.val(),
				}, 
				// datatype of the response data 
				dataType: 'json',
				// function to be executed on success
				success: function(data) {
					// extract the array from the json response
					var searchArray = data.results;
					var links = data.links;
					// just an intermediate string variable to store the intermediate html
					var selectHtml;
					// if we receive any data, i. e the data entered in the search box
					// matches something in the databaase, we show suggestions
					if(searchArray.length > 0)
						for (var i = 0; i < searchArray.length; i++) {
							// here we create the option tags by taking the values fetched from the 
							// db and thne check whether it already exists in the dropdown
							// if exists we don't add it, else we add it to the select box
							selectHtml = '<option value="'+searchArray[i]+'">'+searchArray[i]+'</option>';
							if(!$('.results-dropdown').html().includes(selectHtml))
								$('.results-dropdown').prepend(selectHtml);
						}
					else
						$('.results-dropdown').html("");
				}
			});
		}
	});
</script>
{% block javascript %}

{% endblock %}