{% extends 'Accounts/base.html' %}

{% block title %} User dashboard {% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href= "{% static 'Accounts/style99.css' %}" >
{% endblock %}

{% block content %}
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				
				{% if not user.profile_picture.url %}
				<div class="profile-userpic">
					<img title="Click to upload profile pic" src="https://static.change.org/profile-img/default-user-profile.svg" id="profile_picture_dummy" class="img-responsive" alt="{{user.username}}'s profile picture">
				</div>
				{% else %}
				<div class="profile-userpic">
					<img title="Click to upload profile pic" src="{{ user.profile_picture.url }}" class="img-responsive" alt="{{user.username}}'s profile picture">
				</div>
				{% endif %}
				
				<div id="profile_pic_upload_wrapper">
					<input type="file" accept="image/*" capture name="profile_picture" id="profile_pic_upload">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.first_name|title}} {{user.last_name|title}}
					</div>
					<div class="profile-usertitle-job">
						 {{user_type}}
					</div>
					<div align=center>
						<i>@{{user.username}}</i>
					</div>
				</div>
				
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								Overview 
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
								Account Settings 
							</a>
						</li>
						
						<li>
							<a href="#" target="_blank">
								<i class="glyphicon glyphicon-ok"></i>
								Tasks 
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-flag"></i>
								Help 
							</a>
						</li>
					
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				{% if request.user.pgcorp_user.user_type == 1 %}
					<h1>Posted Flats</h1>
					<div class="pagination">
						<span class="step-links">
							{% if flats.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ flats.previous_page_number }}">previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ flats.number }} of {{ flats.paginator.num_pages }}.
							</span>
					
							{% if flats.has_next %}
								<a href="?page={{ flats.next_page_number }}">next</a>
								<a href="?page={{ flats.paginator.num_pages }}">last &raquo;</a>
							{% endif %}
						</span>
					</div>
					{% for flat in flats %}
						<div class="flat-container">
							<h3>{{flat.title|title}}</h3>
							<strong>Number of Applications: </strong>{{flat.flatapplication_set.count}}
							<div align=center>
								<a class="btn btn-info" href="{% url 'flat_detail' flat.hash flat.slug %}">View on site</a>
							</div>
						</div>
						
					{% empty %}
						no flats posted
					{% endfor %}

				{% elif request.user.pgcorp_user.user_type == 2 %}
					<h1>Applied Flats</h1>
					<div class="pagination">
						<span class="step-links">
							{% if flats.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ flats.previous_page_number }}">previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ flats.number }} of {{ flats.paginator.num_pages }}.
							</span>
					
							{% if flats.has_next %}
								<a href="?page={{ flats.next_page_number }}">next</a>
								<a href="?page={{ flats.paginator.num_pages }}">last &raquo;</a>
							{% endif %}
						</span>
					</div>
					{% for flat in flats %}
						<div class="flat-container">
							<strong>{{flat.title|title}}</strong><br>
							<strong>Number of Applications: </strong>{{flat.flatapplication_set.count}}
						</div>
					{% empty %}
						no flats Applied
					{% endfor %}
				{% endif %}
            </div>
		</div>
	</div>
</div>

<br>
<br>
</body>
</html>
{% endblock %}

{% block javascript %}
	<script>
		$(document).ready(function() {
			$("#profile_picture_dummy").click(function(){
				$("#profile_pic_upload").click();
			});
			$("#profile_pic_upload").on("change", function(){
				formData = new FormData();
				formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
				formData.append("profile_picture", this.files[0]);
				$.ajax({
					method: "post", 
					url: "{% url 'update_profile_picture'%}", 
					data: {
						'csrfmiddlewaretoken': "{{ csrf_token }}", 
						"profile_picture": this.files[0],
					}, 
					success: function(data) {
						if(data.success){
							alert("profile picture updated.");
						}
					}
				});
			});
		});
	</script>
{% endblock %}