{% extends 'Accounts/base.html' %}

{% block title %} User dashboard {% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href= "{% static 'Accounts/dashboard_base.css' %}" >
{% endblock %}

{% block content %}
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				
				{% if not user.profile_picture.url %}
				<div class="profile-userpic">
					<img title="Click to upload profile pic" src="https://static.change.org/profile-img/default-user-profile.svg" id="profile_picture_dummy" class="img-responsive" alt="{{user.username}}'s profile picture">
				</div>
				{% else %}
				<div class="profile-userpic">
					<img title="Click to upload profile pic" src="{{ user.profile_picture.url }}" class="img-responsive" alt="{{user.username}}'s profile picture">
				</div>
				{% endif %}
				
				<div id="profile_pic_upload_wrapper">
					<input type="file" accept="image/*" capture name="profile_picture" id="profile_pic_upload">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.first_name|title}} {{user.last_name|title}}
					</div>
					<div class="profile-usertitle-job">
						 {{user_type}}
					</div>
					<div align=center>
						<i>@{{user.username}}</i>
					</div>
				</div>
				
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a data-toggle= "tab" href="#flats" >
								<i class="glyphicon glyphicon-home"></i>
								flats 
							</a>
						</li>
						
						<li>
							<a data-toggle="tab" href="#edit">
								<i class="glyphicon glyphicon-user"></i>
								edit
							</a>
						</li>
						
						<li>
							<a data-toggle="tab" href="#pass">
								<i class="glyphicon glyphicon-ok"></i>
								password change 
							</a>
						</li>
					
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		
		<div class="tab-content col-md-9">
			<div class="tab-pane active" id="flats">
				
				<!-- for flat owners -->	
				{% if request.user.pgcorp_user.user_type == 1 %}
				{% include 'Accounts/dashboard_flat_list_owner.html' %}
				
				<!-- for paying guests. -->
				{% elif request.user.pgcorp_user.user_type == 2 %}
				{% include 'Accounts/dashboard_flat_list_payingguest.html' %}
				{% endif %}
        </div>
			
			<!-- Profile edit panel -->
			<div class="tab-pane" id="edit">
				<div class="container">
					<h1>Profile edit panel</h1>
				</div>
			</div>
			<!-- Profile edit panel ends here -->

			<!-- Password change panel -->
			<div class="tab-pane" id="pass">
				<div class="container">
					<h1>Password Change panel</h1>
				</div>
			</div>				
			<!-- Password change panel ends here -->
		</div>					
	</div>
</div>

<br>
<br>
</body>
</html>
{% endblock %}

{% block javascript %}
	<script>

		$(document).ready(function() {
			$("#navbar").removeClass("navbar-dark");
			$("#navbar").addClass("navbar-light");

			$("#profile_picture_dummy").click(function(){
				$("#profile_pic_upload").click();
			});
			$("#profile_pic_upload").on("change", function(){
				formData = new FormData();
				formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
				formData.append("profile_picture", this.files[0]);
				$.ajax({
					method: "post", 
					url: "{% url 'update_profile_picture'%}", 
					data: {
						'csrfmiddlewaretoken': "{{ csrf_token }}", 
						"profile_picture": this.files[0],
					}, 
					success: function(data) {
						if(data.success){
							alert("profile picture updated.");
						}
					}
				});
			});
		});
	</script>
{% endblock %}