{% extends 'Accounts/base.html' %}

{% block title %} User dashboard {% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href= "{% static 'Accounts/style99.css' %}" >
{% endblock %}

{% block content %}
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				
				{% if not user.profile_picture.url %}
				<div class="profile-userpic">
					<img title="Click to upload profile pic" src="https://static.change.org/profile-img/default-user-profile.svg" id="profile_picture_dummy" class="img-responsive" alt="{{user.username}}'s profile picture">
				</div>
				{% else %}
				<div class="profile-userpic">
					<img title="Click to upload profile pic" src="{{ user.profile_picture.url }}" class="img-responsive" alt="{{user.username}}'s profile picture">
				</div>
				{% endif %}
				
				<div id="profile_pic_upload_wrapper">
					<input type="file" accept="image/*" capture name="profile_picture" id="profile_pic_upload">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.first_name|title}} {{user.last_name|title}}
					</div>
					<div class="profile-usertitle-job">
						 {{user_type}}
					</div>
					<div align=center>
						<i>@{{user.username}}</i>
					</div>
				</div>
				
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a data-toggle= "tab" href="#flats" >
								<i class="glyphicon glyphicon-home"></i>
								flats 
							</a>
						</li>
						
						<li>
							<a data-toggle="tab" href="#edit">
								<i class="glyphicon glyphicon-user"></i>
								edit
							</a>
						</li>
						
						<li>
							<a data-toggle="tab" href="#pass">
								<i class="glyphicon glyphicon-ok"></i>
								password change 
							</a>
						</li>
					
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		
		<div class="tab-content">
			<div class="tab-pane active" id="flats">
				<!-- for flat owneres -->
				{% if request.user.pgcorp_user.user_type == 1 %}
				<h1>Posted Flats</h1>
					<div class="pagination">
						<span class="step-links">
							{% if flats.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ flats.previous_page_number }}">previous</a>
							{% endif %}
								<span class="current">
								Page {{ flats.number }} of {{ flats.paginator.num_pages }}.
								</span>
							{% if flats.has_next %}
								<a href="?page={{ flats.next_page_number }}">next</a>
								<a href="?page={{ flats.paginator.num_pages }}">last &raquo;</a>
							{% endif %}
						</span>
					</div>
					{% for flat in flats %}
						<div class="flat-container">
							<h3>{{flat.title|title}}</h3>
							<strong>Number of Applications: </strong>{{flat.flatapplication_set.count}}
							<div align="center">
								<a class="btn btn-info" href="{% url 'flat_detail' flat.hash flat.slug %}">View on site</a>
							</div>
						</div>		
					{% empty %}
						no flats posted
					{% endfor %}
					<!-- for paying guests. -->
					{% elif request.user.pgcorp_user.user_type == 2 %}
						<h1>Applied Flats</h1>
						<div class="pagination">
							<span class="step-links">
								{% if flats.has_previous %}
									<a href="?page=1">&laquo; first</a>
									<a href="?page={{ flats.previous_page_number }}">previous</a>
								{% endif %}	
								<span class="current">
									Page {{ flats.number }} of {{ flats.paginator.num_pages }}.
								</span>
							
								{% if flats.has_next %}
									<a href="?page={{ flats.next_page_number }}">next</a>
									<a href="?page={{ flats.paginator.num_pages }}">last &raquo;</a>
								{% endif %}
							</span>
						</div>
						{% for flat_application in flats %}
						<div class="flat-container">
							<h3>{{flat_application.flat.title|title}}</h3>
							<div align="center">
								<a class="btn btn-info" href="{% url 'flat_detail' flat_application.flat.hash flat_application.flat.slug %}">View on site</a>
							</div>
						</div>
						{% empty %}
							no flats Applied
						{% endfor %}
					{% endif %}
        </div>

		<!-- div 2 -->
				<div class="tab-pane" id="edit">
					<h2></h2>
						<hr>
							<form class="form" action="##" method="post" id="registrationForm">
									<div class="form-group">
											
											<div>
													<label for="first_name"><h4>First name</h4></label>
													<input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
											</div>
									</div>
									<div class="form-group">
											
											<div >
												<label for="last_name"><h4>Last name</h4></label>
													<input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
											</div>
									</div>
			
									<div class="form-group">
											
											<div >
													<label for="phone"><h4>Phone</h4></label>
													<input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
											</div>
									</div>
			
									<div class="form-group">
											<div >
												 <label for="mobile"><h4>Mobile</h4></label>
													<input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
											</div>
									</div>
									<div class="form-group">
											
											<div>
													<label for="email"><h4>Email</h4></label>
													<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
											</div>
									</div>
									<div class="form-group">
											
											<div>
													<label for="email"><h4>Location</h4></label>
													<input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
											</div>
									</div>
									<div class="form-group">
											
											<div>
													<label for="password"><h4>Password</h4></label>
													<input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
											</div>
									</div>
									<div class="form-group">
											
											<div>
												<label for="password2"><h4>Verify</h4></label>
													<input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
											</div>
									</div>
									<div class="form-group">
											 <div >
														<br>
														<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
														 <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
												</div>
									</div>
						</form>
					<hr>
				</div><!--/tab-pane-->

				<div class="tab-pane" id="pass">
					change password here !!!
				</div>				
			</div>					
	</div>
</div>

<br>
<br>
</body>
</html>
{% endblock %}

{% block javascript %}
	<script>
		$(document).ready(function() {
			$("#profile_picture_dummy").click(function(){
				$("#profile_pic_upload").click();
			});
			$("#profile_pic_upload").on("change", function(){
				formData = new FormData();
				formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
				formData.append("profile_picture", this.files[0]);
				$.ajax({
					method: "post", 
					url: "{% url 'update_profile_picture'%}", 
					data: {
						'csrfmiddlewaretoken': "{{ csrf_token }}", 
						"profile_picture": this.files[0],
					}, 
					success: function(data) {
						if(data.success){
							alert("profile picture updated.");
						}
					}
				});
			});
		});
	</script>
{% endblock %}