{% extends 'Accounts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="container" align="center">
		<div class="row">
			<div class="col-sm-4" style="margin-top: 80px">
				<h1>Login</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
			</div>
			<div class="col-sm-8">
				{% include 'General/form_template.html' %}
			</div>
		</div>
	</div>
{% endblock %}