{% extends 'Accounts/base.html'%}
{% block title %}Change Password{% endblock %}

{% block cssfiles %}
<style type="text/css">
	.form-container{
		background-color: white;
		border-radius: 18px;
		padding:5%;
		box-shadow: 5px 10px #D3D3D3;
		margin:5% 20% 0 20%;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="form-container">
		<h1>Password Change</h1><br>
		<form method="POST" action="{% url 'password_change' %}">{% csrf_token %}
			{% for field in form %}
				<label>{{field.label_tag}}</label><br>
				{{field}}<br>
			{% endfor %}<br>
			<button type="submit" class="btn btn-danger">Change Password</button>
		</form>
	</div>
</div>
{% endblock %}