{% extends 'Accounts/dashboard_base.html' %}

{% block title %}Profile{% endblock %}

{% block cssfiles %}
<style type="text/css">
	.pg_container{
		position: absolute;
		background-color: white;
		border-radius: 18px;	
		box-shadow: 5px 10px #D3D3D3;
		width: 70%;
		left:300px;
		top:50px;
	}
	.color-white{
		background-color: white;
	}
	#basic-details{
		top: 70px;
		padding:5px;
	}
	#basic-stats{
		top:250px;
	}
	img{
		width: 150px;
		height: 150px;
	}
</style>

{% endblock %}

{% block content %}

<div class="container pg_container" id="basic-details">
	<div class="row">
		<div class="col-sm-3">
			{% load static %}
			<img class="rounded-circle" src="{% static 'homepage/imgPG/bootPG.png' %}"></img>
		</div>
		<div class="col-sm-9">
			<h1>{{user}}</h1>
				<strong>First Name: </strong>{{user.first_name}}<br>
				<strong>Last Name: </strong>{{user.last_name}}<br>
				<strong>Email: </strong>{{user.email}}<br>
		</div>
	</div>
</div>

<div class="container pg_container color-white" id="basic-stats">
	<ul class="nav nav-tabs color-white">
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#flats_posted">
				flats posted
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#flats_applied">
				flats Applied
			</a>
		</li>
	</ul>

	<div class="tab-content color-white">
		<div class="tab-pane container active color-white" id="flats_posted">
			<br>
			{% if flats_posted is not None %}
				<table class="table table-bordered">
					<tr>
						<th>Title</th>
						<th>Location</th>
						<th>Action</th>
					</tr>
				{% for flat in flats_posted %}
					<tr>
						<td>{{flat.title}}</td>
						<td>{{flat.location}}</td>
						<td>
							<a class="btn btn-danger">Delete</a>&nbsp;
							<a class="btn btn-info">Update</a>
						</td>
					</tr>
				{% endfor %}
			{% else %}
			<br>
				<p>You have not posted any flats yet</p>
			{% endif %}
			</table>
		</div>

		<div class="tab-pane container fade color-white" id="flats_applied">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>

</div>
<script type="text/javascript">
		function random_bg_color(){
			var x=256;
			var y=Math.floor(Math.random()*256);
			var z=Math.floor(Math.random()*256);
			var bg_color="rgb("+x+","+y+","+z")";
			document.body.style.background=bg_color;
		}

	</script>
{% endblock %}

{% block javascript %}
	
{% endblock %}

