<style type="text/css">
	.main-container{
		width:80%;
		margin:auto;
		line-height: 1.6em;
		margin-top: 80px;
	}
	.main-form{
		width:75%;
		margin:auto;
		padding:10% 5%;
		background-color: #f4f4f4;
		border-radius: 18px;
		box-shadow: 5px 10px #D3D3D3;
	}
	.container{
		width:80%;
		margin:auto;
	}
	.form-username label{
		display: block;
		text-transform: uppercase;
		text-align: left;
		font-weight: bold;
	}
	.form-username input{
		width:100%;
		border: none;
		background-color: #f4f4f4;
		border-bottom:1px solid black;
		margin-bottom:15%;
		outline: none;
	}
	.form-username input:focus{
		border-bottom: 1px solid blue;
	}
	.form-password label{
		display: block;
		text-transform: uppercase;
		text-align: left;
		font-weight: bold;
	}
	.form-password input{
		width:100%;
		border: none;
		background-color: #f4f4f4;
		border-bottom:1px solid black;
		margin-bottom:15%;
		outline: none;
	}
	.form-password input:focus{
		border-bottom: 1px solid blue;
	}
	#submit{
		width:50%;
	}
	#submit:hover{
		background-color: red;
	}
</style>
<div class="main-container">
	<form class="main-form" align="center" method="POST">{% csrf_token %}
		<div class="container">
			{% for field in form %}
			<div class="form-username">
				<label>
					{{field.label_tag}}
				</label>
				{{field}}
			</div>
			{% endfor %}
			{% if form.non_field_errors %}
				<div class="alert alert-danger alert-dismissible">
					{{form.non_field_errors}}
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
			{% endif %}
			<input type="submit" value="Login" class="btn btn-primary" id="submit">
		</div>
	</form>
</div>