{% extends 'Accounts/base.html' %}

{% block title %}Home{% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'General/landing_page.css' %}">
<style>
	.pimg1{
		/* internal css to be done for all images that have to be referenced like this */
		background-image: url("{% static 'General/parallax-background.jpg' %}");
	}
</style>
{% endblock %}

{% block content %}
<body>
	{% load static %}
	<div class="pimg1" id ="pimg1">
		<div class="parallax-text-wrapper">
			<div class="animate" id="animate1">
				<span id="parallax-title" >PGCORP</span>
			</div>
			<div class="animate" id="animate2">
				<span id="parallax-subtitle" class="animate">Many call it a City Of Dreams,so why not give it a dream start?</span>
			</div>
		</div>
	</div>

	<section class="section">
		<h2> Why PGcorp ?? </h2>
		<p>
			We have developed a portal for both landlords and tenants to rent out their homes and also for renting homes.Residency owners can post their flats on the portal along with specifications of their respective residencies.Also landlords can specify different requirements about tenants expected by them.On similar lines,aspirants who are in search of urgent homes to live in can search homes as needed by them.The best match will be provided for the tenants.Tenants can further contact the landlords for further enquiries and in such a manner process is completed.
		</p>
		<input type="text" class="search-box">
	</section>

	<!-- 
	<div class="body">
		<img src="../../static/homepage/imgPG/home2PG.jpg" alt="image 1" class="example">
		<img src="../../static/homepage/imgPG/home1PG.jpg" alt="image 2" class="example">
	</div>
	 -->
	<div id="notif-box">
		<span id="notif-close" onclick="closeNotif()">x</span>
		<p id="notif-box-content"></p>
	</div>
	<a id="return-top" href="javascript:void(0)">
		<i class="fa fa-caret-up" aria-hidden="true"></i>
	</a>
</body>
{% endblock %}

{% block javascript %}

<script>
	$("#navbar").addClass("fixed-top");
</script>

<script>
	// navbar show on scroll
	$("#return-top").click(function() {
		$("body, html").animate({
			scrollTop : 0                       
		}, 700);
	});
	window.onscroll = function() {
		if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
			// show the navbar
			$("#navbar").css("top", "0px");
			$("#return-top").css("opacity", 1);
		} else {
			// hide the navbar margin top na haaa ek min ruk
			var navbarHeight = 0 - $("#navbar").outerHeight();
			$("#navbar").css("top", navbarHeight.toString() + "px");
			$("#return-top").css("opacity", 0);
		}//same effect hon chahiye
		$('.progress-indicator').css("margin-top", $('#navbar').outerHeight());
		var winscroll = document.body.scrollTop || document.documentElement.scrollTop;
		var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		var scrolled = (winscroll/height) * 100;
		document.getElementById('mybar').style.width = scrolled + "%";
	}
</script>
<script>
	// parallax fade on scroll
	$(document).ready(function(){
    $(window).scroll(function(){
        $("#pimg1").css("opacity", 1 - $(window).scrollTop() / $('#pimg1').height());
    });
});
</script>
<script type="text/javascript">
	var status = "{{ show_notif }}";
	function closeNotif() {
		document.getElementById('notif-box').style.opacity = 0;
		document.getElementById('notif-box').style.left = "-400px"
	}
	function showNotif(){
		document.getElementById('notif-box').style.backgroundColor = "{{ color }}";
		document.getElementById('notif-box-content').innerHTML = "{{ notif_message }}";
		document.getElementById('notif-box').style.opacity = 1;
		document.getElementById('notif-box').style.left = "10px";
	}
	if(status == "True"){
		setTimeout(showNotif, 500);
		setTimeout(closeNotif, 5000);
	}
		// this is the section where image's url is entered 
		/*
		var img = [
			'../../static/homepage/imgPG/home1PG.png',
			'../../static/homepage/imgPG/home2PG.jpg',
		] ;
		*/
		//var corusel = document.getElementById('pimg1');
		
		//var i =0;
		//setInterval(function(){
		//	corusel.style.backgroundImage = "url(" + img[i] + ")";
		//	i=(i+1);
		//	if(i==img.length){
		//		i=0;
		//	}
		//},5000);
</script>
{% endblock %}
