{% extends 'Accounts/base.html' %}

{% block title %}Home{% endblock %}

{% block cssfiles %}
<!--
	<style>
	
</style>
-->
{% load static %}
<link rel="stylesheet" href="{% static 'General/landing_page.css' %}">
<style>
	.pimg1{
		/* internal css to be done for all images that have to be referenced like this */
		background-image: url("{% static 'General/parallax-background.jpg' %}");
	}
</style>
{% endblock %}

{% block content %}
<body>
	{% load static %}
	<div class="pimg1" id ="pimg1">
		<div class="parallax-text-wrapper">
			<div class="animate" id="animate1">
				<span id="parallax-title" >PGCORP</span>
			</div>
			<div class="animate" id="animate2">
				<span id="parallax-subtitle" class="animate">Many call it a City Of Dreams,so why not give it a dream start?</span>
			</div>
			<div class="search-box">
				<!-- enter the url accordingly -->
				<form action="#" class="search">
					<input type="text" class="search-field" placeholder="Location search" autofocus>
					<button type="button" class="btn btn-info" id ="search-button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</form>
			</div>
		</div>
	</div>

	<section class="section">
		<h2> Why PGcorp ?? </h2>
		<div class="row">
			<div class="col">
				<div class="nobroker">
					<i class="fa fa-user-times" aria-hidden="true"></i>
					<p>
						Book flats without broker's assistance.
					</p>
				</div>
			</div>
			<div class="col">
				<div class="owners">
					<i class="fa fa-user"></i>
					<p>
						owners can post their flats 
					</p>
				</div>
			</div>
			<div class="col">
				<div class="rentees">
					<i class="fa fa-users"></i>
					<p>
						A group of users can rent the flats from the owners 
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- 
	<div class="body">
		<img src="../../static/homepage/imgPG/home2PG.jpg" alt="image 1" class="example">
		<img src="../../static/homepage/imgPG/home1PG.jpg" alt="image 2" class="example">
	</div>
	 -->
	<div id="notif-box">
		<span id="notif-close" onclick="closeNotif()">x</span>
		<p id="notif-box-content"></p>
	</div>
	<a id="return-top" href="javascript:void(0)">
		<i class="fa fa-caret-up" aria-hidden="true"></i>
	</a>
</body>
{% endblock %}

{% block javascript %}

<script>
	$("#navbar").addClass("fixed-top");
</script>

<script>
	// navbar show on scroll
	$("#return-top").click(function() {
		$("body, html").animate({
			scrollTop : 0                       
		}, 700);
	});
	window.onscroll = function() {
		if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
			// show the navbar
			$("#navbar").css("top", "0px");
			$("#return-top").css("opacity", 1);
		} else {
			// hide the navbar margin top na haaa ek min ruk
			var navbarHeight = 0 - $("#navbar").outerHeight();
			$("#navbar").css("top", navbarHeight.toString() + "px");
			$("#return-top").css("opacity", 0);
		}//same effect hon chahiye
		$('.progress-indicator').css("margin-top", $('#navbar').outerHeight());
		var winscroll = document.body.scrollTop || document.documentElement.scrollTop;
		var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		var scrolled = (winscroll/height) * 100;
		document.getElementById('mybar').style.width = scrolled + "%";
	}
</script>
<script type="text/javascript">
	var status = "{{ show_notif }}";
	function closeNotif() {
		document.getElementById('notif-box').style.opacity = 0;
		document.getElementById('notif-box').style.left = "-400px"
	}
	function showNotif(){
		document.getElementById('notif-box').style.backgroundColor = "{{ color }}";
		document.getElementById('notif-box-content').innerHTML = "{{ notif_message }}";
		document.getElementById('notif-box').style.opacity = 1;
		document.getElementById('notif-box').style.left = "10px";
	}
	if(status == "True"){
		setTimeout(showNotif, 500);
		setTimeout(closeNotif, 5000);
	}
		// this is the section where image's url is entered 
		/*
		var img = [
			'../../static/homepage/imgPG/home1PG.png',
			'../../static/homepage/imgPG/home2PG.jpg',
		] ;
		*/
		//var corusel = document.getElementById('pimg1');
		
		//var i =0;
		//setInterval(function(){
		//	corusel.style.backgroundImage = "url(" + img[i] + ")";
		//	i=(i+1);
		//	if(i==img.length){
		//		i=0;
		//	}
		//},5000);
</script>
{% endblock %}
