{% extends 'Accounts/base.html' %}

{% block title %}Home{% endblock %}

{% block cssfiles %}
<style type="text/css">
	body,html{
		height: 100%;
		margin: 0;
		line-height:1.8em;
		font-size: 16px;
		font-weight: 400;
		font-family: "Arial","helvetica","Sans-serif";
		color:#666;
	}

	.pimg1
	{
		background-image: url('../../static/homepage/imgPG/home2PG.jpg');
		min-height:100%;
		position:relative;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;

		background-blend-mode:screen;
	}

	.section 
	{
		text-align: center;
		padding : 50px 80px;
	}

	.section-light{
		background-color: #f4f4f4;
		color:#666;
	}

	.section-dark{
		background-color: #282e34;
		color:#fff;
	}

	.ptext{
		position: absolute;
		top:50%;
		width: 100%;
		text-align: center;
		color:#02010c;
		font-size:27px;
		letter-spacing:8px;
		text-transform: uppercase;
	}
	#notif-box{
		position:absolute;
		width:200px;
		height: 90px;
		top:50px;
		left:-400px;
		opacity: 0;
		transition:opacity ease-in-out 1000ms, left ease-in-out 1000ms;
		background-color: green;
		color:white;
		border-radius: 4px;
		font-family: Arial;
	}
	#notif-close{
		cursor: pointer;
		float:right;
		margin-right: 5px;
		margin-top: 2px;
	}
	#notif-box-content{
		margin:2px;
	}
</style>

{% endblock %}

{% block content %}
<body>
	<div class="pimg1">
		<div class="ptext">
			<span class="border">
				PG CORP 
			</span>
		</div>
	</div>

	<section class="section section-light">
		<h2> Section one </h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</section>

	<div class="pimg2">
		<div class="ptext">
			<span class="border">
				LOREM IPSUM 
			</span>
		</div>
	</div>
	<div id="notif-box">
		<span id="notif-close" onclick="closeNotif()">x</span>
		<p id="notif-box-content"></p>
	</div>
</body>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var status = "{{ show_notif }}";
	function closeNotif() {
		document.getElementById('notif-box').style.opacity = 0;
		document.getElementById('notif-box').style.left = "-400px"
	}
	function showNotif(){
		document.getElementById('notif-box').style.backgroundColor = "{{ color }}";
		document.getElementById('notif-box-content').innerHTML = "{{ notif_message }}";
		document.getElementById('notif-box').style.opacity = 1;
		document.getElementById('notif-box').style.left = "10px";
	}
	if(status == "True"){
		setTimeout(showNotif, 500);
		setTimeout(closeNotif, 5000);
	}
</script>
{% endblock %}