{% extends 'Accounts/base.html %}

{% block title %}News Letter{% endblock %}

<!--  -->
{% block cssfiles %}

{% load static %}

{% endblock %}


<!-- html body below -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="title">
                    Registration successful
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-12">
            <img src="" alt="this will be any dummy image">
        </div>
        <div class="title">
            REGISTRATION SUCCESSFUL
        </div>
        <div class="content">
            Hey user !!! 
            Welcome to our portal hope you feel comfortable and believe in the services provided by us.
            Your Account handling details are :
            <ul class="details">
                <li>Username: </li>
                <li>Email: </li>
                <li>User Type: </li>
                <li>Password: </li>
            </ul> 
        </div>
        <div class="row">
            <div class="notify">
                <p>
                    Do you wish to be notified if you want to know about the flats people are posting or are in interested in going subscribe to our letter and we will deliver exactly the same.
                </p>
                <button class="btn btn-danger">Subscribe</button>
            </div>
        </div>
    </div>
</div>
{% load static %}

{% endblock %}

<!-- Javascript below -->
{% block javascript %}

{% endblock %}

