#login_text{
    margin-top: 80px;
}
#form-absolute-container{
    margin-bottom: 20px;
}

.scrolled{
	background-color: rgba(0, 0, 0,0.7) !important;
	transition: background-color 200ms ease-in;
}

/* This is to remove unnecessary spacing between the text and the form*/
@media (max-width:600px) {
    #login_text{
        margin-top:20px;
    }
}