{% extends 'Accounts/base.html' %}
{% block title %}Rent a Flat{% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'Flats/flats_list.css'%}">
{% endblock %}

{% block content %}

<div class="container" id="flats">
	<div class="display-4">Available flats</div>
	<!-- 
		Attributes passed to the template
		title, location, rent
	-->
	<div class="container" id="flats-wrapper">
		<div class="row">
			<div class="col-sm-3">
				<div id="accordion">
					<div class="card">
						<div class="card-header">
							<a class="card-link" data-toggle="collapse" href="#filter-form1">
								Filter form1 <i class="fa fa-caret-down"></i>
							</a>
						</div>
						<div id="filter-form1" class="collapse show filter-form">
							<div class="card-body">
								Lorem ipsum..
							</div>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-header">
							<a class="card-link" data-toggle="collapse" href="#filter-form2">
								Filter form2 <i class="fa fa-caret-down"></i>
							</a>
						</div>
						<div id="filter-form2" class="collapse show filter-form">
							<div class="card-body">
								Lorem ipsum..
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9 flats">
				{% for flat in flats %}
				<div class="flat">
					<div class="flat-title">{{ flat.title }}</div>
					<p class="flat-address">{{ flat.location }}</p>
					<hr>
					<div class="row">
						<div class="col-sm-4" align="center">Detail1</div>
						<div class="col-sm-4" align="center">Detail2</div>
						<div class="col-sm-4" align="center">Detail3</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-4 flat-thumbnail">
							{% load static %}
							<img src="{% static 'General/parallax-background.jpg' %}" alt="flat-image" height="100%" width="100%">
						</div>
						<div class="col-sm-8">

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

 {% endblock %}
 
 {% block javascript %}
	<script>
		$(document).ready(function(){
			if (window.screen.width <= 600) {
				// this is to keep the accordion tabs closed.
				$(".filter-form").removeClass("show");
				$(".filter-form").addClass("collapsed");
			}
		});
	</script>
	<!-- This is the stuff used for the side navigation bar .-->
	 <script type="text/javascript">
		var dropper = document.querySelector('#sideNav');
		var flats = document.querySelector(".flat-box");
		
		for(i=0;i<flats.length;i++) {
			flats[0].addEventListener('dragstart', dragStart);
		} 
		function sideNavOpen() {
			 document.getElementById('sideNav').style.left = "0px";
		 }
		 function sideNavClose() {
			document.getElementById('sideNav').style.left = "-200px";
		 }
		 function dragStart(event) {
			event.dataTransfer.setData("Text", event.target.id);
		}
		 function dragDrop(e) {
			event.preventDefault();
			var data = event.dataTransfer.getData("Text");
			event.target.appendChild(document.getElementById(data));
		}

 	</script>
 {% endblock %}
