{% extends 'Accounts/base.html' %}
{% block title %}Post a flat for free{% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'Flats/flat_post.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="main-container">
	<h1 class="display-4" id="title">Post a flat for free.</h1>
	<p>
		Enter the details for the flat you wish to post to <strong>Paying Guests</strong>. Enter accurate details to attract Paying guests to view your flat.
	</p>	
	<div class="container" id="form-container">
		<form action="{% url 'post' %}" method="POST">
			{% csrf_token %}
			{% load crispy_forms_tags %}
			<div class="form-main-container">
				<div class="row">
					<div class="col-sm-6">{{ form.title|as_crispy_field }}</div>
					<div class="col-sm-6">{{ form.address|as_crispy_field }}</div>
				</div>

				<div class="row">
					<div class="col-sm-12">{{ form.description|as_crispy_field }}</div>
				</div>

				<div class="row">
					<div class="col-sm-6">{{ form.total_space|as_crispy_field }}</div>
					<div class="col-sm-6">{{ form.total_rent|as_crispy_field }}</div>
				</div>

				<div class="row">
					<div class="col-sm-6">{{ form.deposit|as_crispy_field }}</div>
					<div class="col-sm-6">{{ form.possession|as_crispy_field }}</div>
				</div>

				<div class="row">
					<div class="col-sm-6">{{ form.total_rooms|as_crispy_field }}</div>
					<div class="col-sm-6">{{ form.property_type|as_crispy_field }}</div>
				</div>

				<div class="row">
					<div class="col-sm-6">{{ form.floor|as_crispy_field }}</div>
					<div class="col-sm-6">
						{{ form.number_of_guests|as_crispy_field }}
						
					</div>
				</div>

				<div class="row">
				<div class="col-sm-6">
					{{ form.parking_options|as_crispy_field }}
				</div>
				</div>
			</div>
			<button type="submit" class="btn btn-info btn-lg">Submit</button>
		</form>		
	</div>
</div>
{% endblock %}