{% extends 'Accounts/base.html' %}
{% block title %}Post a flat for free{% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'Flats/flat_post.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<h1>Post a flat for free.</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt mollitia nihil fugiat libero voluptas expedita labore. Eius aliquam sunt aperiam soluta dolores, eaque eveniet cum, dicta doloribus omnis neque id.</p>	
	<div id="form-container" class="container">
		<form action="{% url 'post' %}" method="POST">
			{% csrf_token %}
			{% for field in form %}
			<div class="row" id="form_input">
				<div class="col-sm-4">{{ field.label_tag }}</div>
				<div class="col-sm-8">{{ field }}</div>
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-success">Submit</button>
		</form>		
	</div>
</div>
{% endblock %}