{% extends 'Accounts/base.html' %}
{% block title %}{{object.slug}}{% endblock %}

{% block cssfiles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'Flats/flat_details.css' %}">
{% endblock %}

{% block content %}
	<!--- login modal -->
	<div class="modal fade" id="loginModal">
		<div class="modal-dialog">
			<div class="modal-content">
		
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Login to continue</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
		
			<!-- Modal body -->
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#signup">Signup</a>
					</li>
				</ul>
					
					<!-- Tab panes -->
					<div class="tab-content">
					<div class="tab-pane container active" id="login">
						{% if login_form %}
							<form action="{% url 'login' %}" method="POST">
								{% load crispy_forms_tags %}
								{% csrf_token %}
								{{ login_form.username|as_crispy_field }}
								{{ login_form.password|as_crispy_field }}
								<input type="hidden" name="modal">
								<button class="btn btn-lg btn-info" type="submit">Login</button>
							</form>
						{% endif %}
					</div>
					<div class="tab-pane container fade" id="signup">
						{% if signup_form %}
							<form action="{% url 'signup' %}" method="POST">
								{% csrf_token %}
								{% load crispy_forms_tags %}
								{% crispy signup_form %}
								<input type="hidden" name="modal">
								<button class="btn btn-lg btn-info" type="submit">Signup</button>
							</form>
						{% endif %}
					</div>
					</div>
			</div>
		
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		
			</div>
		</div>
	</div>
	<div class="modal fade" id="applyModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					Confirm, Application?
				</div>
				<div class="modal-body">
					<h3>Kindly note the following points:</h3>
					<ul>
						<li>
							<b>&#8377;{% widthratio object.total_rent object.number_of_guests 1 %}</b> is the amount you pay as rent.
						</li>
						<li>
							<b>&#8377;{% widthratio object.deposit object.number_of_guests 1 %}</b> is the amount you will have to pay as deposit.
						</li>
						<li>
							You will be accompained with <b>{{ object.number_of_guests|add:"-1" }}</b> more guests.
						</li>
					</ul>
					<div class="alert alert-dissmissible" id="apply-status-message-div" 
					style="display:none"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="submit-application-button">Submit</button> 
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="main-container">
		<div class="row">
			<div class="col-sm-6 image-gallery">
				
					<div id="demo" class="carousel slide" data-ride="carousel">
								
						<!-- Indicators -->
						<ul class="carousel-indicators">
							{% for i in object.flatimages_set.all %}
								{% if forloop.counter0 == 0 %}
									<li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
								{% else %}
									<li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" ></li>
								{% endif %}
							{% endfor %}
						</ul>
						
						<!-- The slideshow -->
						<!-- please insert appropriate images !!! -->
						<div class="carousel-inner">
							{% for image_obj in object.flatimage_set.all %}
								{% if forloop.counter0 == 0 %}
									<div class="carousel-item active">
										<img src="{{ image_obj.image.url }}" alt="Los Angeles" width="100%" height="100%">
									</div>
								{% else %}
								<div class="carousel-item">
									<img src="{{ image_obj.image.url }}" alt="Los Angeles" width="100%" height="100%">
								</div>
								{% endif %}
							{% endfor %}
						</div>
						
						<!-- Left and right controls -->
						<a class="carousel-control-prev" href="#demo" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#demo" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>

			</div>
			<div class="col-sm-6">
				<h3 class="display-4">{{object.title}}</h3>
				<p>{{object.address}}</p>
				
				<div class="row" id="main-item-box">
					<div class="col-sm-4 right-border main-items" align="center">
						{{ object.total_space }}<br>
						<strong>Total Space</strong>
					</div>
					<div class="col-sm-4 right-border main-items" align="center">
						&#8377;&nbsp;{{ object.total_rent }}<br>
						<strong title="This is the total rent of the flat. If the number of guests is more than 1, this price will be divided by the number of guests">
							Total Rent
						</strong>
					</div>
					<div class="col-sm-4 main-items" align="center">
						{{ object.possession }}<br>
						<strong>Possession</strong>
					</div>
				</div>

				<div class="container" align=center>
					<div class="row">
						<div class="col-sm-6">
							<div class="more-details">
								{{ object.total_rooms }}<br>
								<strong>Number of rooms</strong>
							</div>
							<div class="more-details">
								{{ object.property_type }}<br>
								<strong>Property Type</strong>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="more-details">
								{{ object.floor }}<br>
								<strong>Floor</strong>
							</div>
							<div class="more-details">
								{{object.parking_options}}<br>
								<strong>Parking</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" align=center id="about-flat">
			<div class="col-sm-6 description-div">
				<strong class="about-head">About the flat</strong>
				<div class="line"></div>
				<p>{{object.description}}</p>
			</div>
			<div class="col-sm-6 description-div">
				<div class="row" align=center>
					<div class="col-sm-4">
						{{ object.number_of_guests }}<br>
						<strong>Number of occupants required.</strong>
					</div>
					<div class="col-sm-4">
						0<br>
						<strong>Number of people intrested in this property.</strong>
					</div>
					<div class="col-sm-4">
						0<br>
						<strong>Number of occupants in this flat.</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="container" align=center>
					{% for image in images %} 
						<img src="{{ image }}" alt="">
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="offset-8 col-sm-4">
				Posted by: <b><i>{{ object.user }}</i></b><br>
				On: <b><i>{{ object.date_of_posting }}</i></b>
			</div>
		</div>

		<div class="container" align=center id="user-actions-div">
			{% if user != object.user and user.pgcorp_user.user_type != 1 %}
			
				{% if user.is_authenticated %}
					<a class="btn btn-lg btn-info" data-toggle="modal" data-target="#applyModal">
						Apply for reservation
					</a>
				{% else %}
					<a class="btn btn-lg btn-info" data-toggle="modal" data-target="#loginModal">
						Apply for reservation
					</a>
				{% endif %}

			{% endif %}

			{% if object.liked %}
				<a class="btn btn-lg btn-danger" id="like-button-wrapper">
					<span class="glyphicon glyphicon-heart" id="like-button"></span>
					&nbsp;<span id="like-button-text">{{ object.favouriteflats_set.count }}</span>
				</a>
			{% else %}
				{% if user.is_authenticated %}
					<a class="btn btn-lg btn-danger" id="like-button-wrapper">
						<span class="glyphicon glyphicon-heart-empty" id="like-button"></span>
						&nbsp;<span id="like-button-text">{{ object.favouriteflats_set.count }}</span>
					</a>
				{% else %}
					<!-- Set onclick to display login modal-->
					<a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#loginModal">
						<span class="glyphicon glyphicon-heart-empty" id="like-button"></span>
						&nbsp;<span id="like-button-text">{{ object.favouriteflats_set.count }}</span>
					</a>&nbsp;
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		$("#like-button-wrapper").click(function() {
			$.ajax({
				url: '{% url "like" %}',
				data: {
					'user': "{{ user.username }}",
					'flat': "{{ object.hash }}", 
				},
				dataType: 'json',
				success: function (data) {
					if (data.liked) {
						$("#like-button").removeClass("glyphicon-heart-empty");
						$("#like-button").addClass("glyphicon-heart");
						$("#like-button-text").text(data.count);
					}else{
						$("#like-button").addClass("glyphicon-heart-empty");
						$("#like-button").removeClass("glyphicon-heart");
						$("#like-button-text").text(data.count);
					}
				}
			})
		});
		$("#submit-application-button").click(function() {
			$.ajax({
				url: '{% url "apply" %}', 
				method: "get",
				data: {
					'flat': "{{ object.hash }}", 
				}, 
				dataType: 'json', 
				success: function(data) {
					if(data.applied){
						console.log(data.applied);
						$("#apply-status-message-div").text("Successfully applied for the flat.");
						$("#apply-status-message-div").css("display", "block");
						$("#apply-status-message-div").removeClass("alert-danger");
						$("#apply-status-message-div").addClass("alert-success");
					} else if (data.previouslyApplied) {
						$("#apply-status-message-div").text("You have already applied for the flat.");
						$("#apply-status-message-div").css("display", "block");
						$("#apply-status-message-div").addClass("alert-danger");
						$("#apply-status-message-div").removeClass("alert-success");
					}
				}
			});
		});
	})
</script>
{% endblock %}