{% extends 'Accounts/base.html' %}
{% block title %}{{object.slug}}{% endblock %}

{% block cssfiles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'Flats/flat_details.css' %}">
{% endblock %}

{% block content %}
	<div class="container" id="main-container">
		<div class="row">
			<div class="col-sm-6 image-gallery">
				<img src="{% static 'General/parallax-background.jpg'%}" alt="image gallery" class="image-responsive">
			</div>
			<div class="col-sm-6">
				<h3 class="display-4">{{object.title}}</h3>
				<p>{{object.address}}</p>
				
				<div class="row" id="main-item-box">
					<div class="col-sm-4 right-border main-items" align="center">
						{{ object.total_space }}<br>
						<strong>Total Space</strong>
					</div>
					<div class="col-sm-4 right-border main-items" align="center">
						&#8377;&nbsp;{{ object.total_rent }}<br>
						<strong title="This is the total rent of the flat. If the number of guests is more than 1, this price will be divided by the number of guests">
							Total Rent
						</strong>
					</div>
					<div class="col-sm-4 main-items" align="center">
						{{ object.possession }}<br>
						<strong>Possession</strong>
					</div>
				</div>

				<div class="container" align=center>
					<div class="row">
						<div class="col-sm-6">
							<div class="more-details">
								{{ object.total_rooms }}<br>
								<strong>Number of rooms</strong>
							</div>
							<div class="more-details">
								{{ object.property_type }}<br>
								<strong>Property Type</strong>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="more-details">
								{{ object.floor }}<br>
								<strong>Floor</strong>
							</div>
							<div class="more-details">
								{{object.parking_options}}<br>
								<strong>Parking</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" align=center id="about-flat">
			<div class="col-sm-6 description-div">
				<strong class="about-head">About the flat</strong>
				<div class="line"></div>
				<p>{{object.description}}</p>
			</div>
			<div class="col-sm-6 description-div">
				<div class="row" align=center>
					<div class="col-sm-4">
						{{ object.number_of_guests }}<br>
						<strong>Number of occupants required.</strong>
					</div>
					<div class="col-sm-4">
						0<br>
						<strong>Number of people intrested in this property.</strong>
					</div>
					<div class="col-sm-4">
						0<br>
						<strong>Number of occupants in this flat.</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="container" align=center id="user-actions-div">
			<button class="btn btn-lg btn-info">
				Apply for reservation
			</button>
			{% if object.liked %}
				<button class="btn btn-lg btn-danger" id="like-button">
					<span class="glyphicon glyphicon-heart"></span>
					&nbsp;{{ object.favouriteflats_set.count }}
				</button>
			{% else %}
				{% if user.is_authenticated %}
					<button class="btn btn-lg btn-danger" id="like-button">
						<span class="glyphicon glyphicon-heart-empty"></span>
						&nbsp;{{ object.favouriteflats_set.count }}
					</button>
				{% else %}
					<!-- Set onclick to display login modal-->
					<button class="btn btn-lg btn-danger" onclick="alert('Login to continue');">
						<span class="glyphicon glyphicon-heart-empty"></span>
						&nbsp;{{ object.favouriteflats_set.count }}
					</button>&nbsp;
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		$("#like-button").click(function() {
			$.ajax({
				url: '{% url "like" %}',
				data: {
					'user': "{{ user.username }}",
					'flat': "{{ object.hash }}", 
				},
				dataType: 'json',
				success: function (data) {
					if (data.liked) {
						$("#like-button span").removeClass("glyphicon-heart-empty");
						$("#like-button span").addClass("glyphicon-heart");
					}else{
						$("#like-button span").addClass("glyphicon-heart-empty");
						$("#like-button span").removeClass("glyphicon-heart");
					}
				}
			})
		});
	})
</script>
{% endblock %}