{% extends 'Accounts/base.html' %}
{% block title %}Post a flat for free{% endblock %}

{% block cssfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'Flats/flat_post.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="main-container">
	<h1 class="display-4" id="title">Post a flat for free.</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt mollitia nihil fugiat libero voluptas expedita labore. Eius aliquam sunt aperiam soluta dolores, eaque eveniet cum, dicta doloribus omnis neque id.</p>	
	<div class="container" id="form-container">
		<form action="{% url 'post' %}" method="POST">
			{% csrf_token %}
			{% for field in form %}
			
			{% if field.error_messages %}
			<div class="alert alert-danger alert-dismissible">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Error!</strong> {{ field.error_messages }}
				<div style="clear:both"></div>
			</div>
			{% endif %}
			<div class="row form_input">
				<div class="col-sm-3">{{ field.label_tag }}</div>
				<div class="col-sm-9">{{ field }}</div>
			</div>
			{% endfor %}
			<div align=center id="button-div">
				<button type="submit" class="btn btn-success btn-lg">Submit</button>
			</div>
		</form>		
	</div>
</div>
{% endblock %}