<!DOCTYPE html>
<html lang="en">
<head>
    <title>PGCorp | {% block title %}mail_template{% endblock %}</title>
	{% load staticfiles %}
	<link rel="icon" href="{% static 'favicon.ico'%}">
	<link rel="stylesheet" href="{% static 'General/mail_template/base.css' %}">
	{% block cssfiles %}
    {% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<script>
</script>
{% block javascript %}
{% endblock %}
</html>
