{% extends 'General/mail_template/base_template.html' %}

{% block title %}News Letter{% endblock %}

<!--  -->
{% block cssfiles %}

{% load static %}

{% endblock %}


<!-- html body below -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="title">
                    Registration successful
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-12">
            <img src="" alt="this will be any dummy image">
        </div>
        <div class="title">
            FLAT POSTING SUCCESSFUL
        </div>
        <div class="content">
            <pre>
                Thank you for posting your flat details these will be displayed to all the paying guests alongside all the other flat owners. Keep helping our paying guests in this manner.
                Regards, 
                PGCorpServices. 
                
                Your flat details are :
            </pre>
            <ul class="details">
                <li>Username: </li>
                <li>Email: </li>
                <li>User Type: </li>
                <li>Password: </li><!-- display password in such a way that only 2 digits (random order ) are visible -->
            </ul> 
        </div>
        <div class="row">
            <div class="flat_details">
                <p>
                    The flat you posted has the foloowing details :
                </p>
            </div>
            <div class="flats">
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item" >
                            <a class="page-link"><span>&laquo;</span></a>
                        </li>
                    {% endif %}
                    
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active page-item">
                                <a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item">
                            <a class="page-link"><span>&raquo;</span></a>
                            </li>
                    {% endif %}
                </ul>
                {% endif %}
                
                {% for flat in flats %}
                <div class="flat">
                    <div class="flat-title">{{ flat.title }}</div>
                    <p class="flat-address">{{ flat.address }}</p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 right-border main-items" align="center">
                            {{ flat.total_space }}<br>
                            <strong>Total Space</strong>
                        </div>
                        <div class="col-sm-4 right-border main-items" align="center">
                            {{ flat.total_rent }}<br>
                            <strong title="This is the total rent of the flat. If the number of guests is more than 1, this price will be divided by the number of guests">
                                Total Rent
                            </strong>
                        </div>
                        <div class="col-sm-4 main-items" align="center">
                            {{ flat.possession }}<br>
                            <strong>Possession</strong>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="demo">
                                <div class="image">
                                    <img src="{{ image_obj.image.url }}" alt="Los Angeles" width="100%" height="100%">
                                </div>
                            </div>                
                        </div>
                        <div class="col-sm-8" align=center>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="more-details">
                                    {{ flat.total_rooms }}<br>
                                    <strong>Number of rooms</strong>
                                </div>
                                <div class="more-details">
                                    {{ flat.property_type }}<br>
                                    <strong>Property Type</strong>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="more-details">
                                    {{ flat.floor }}<br>
                                    <strong>Floor</strong>
                                </div>
                                <div class="more-details">
                                    {{flat.parking_options}}<br>
                                    <strong>Parking</strong>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="notify">
                <p>
                    Do you wish to be notified if you want to know about the flats people are posting or are in interested in going subscribe to our letter and we will deliver exactly the same.
                </p>
                <button class="btn btn-danger">Subscribe</button>
            </div>
        </div>
    </div>
</div>
{% load static %}

{% endblock %}

<!-- Javascript below -->
{% block javascript %}

{% endblock %}

