{% extends 'General/mail_templates/base_template.html' %}

{% block title %}News Letter{% endblock %}

<!--  -->
{% block cssfiles %}

{% load static %}

{% endblock %}


<!-- html body below -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="title">
                    Registration successful
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-12">s
            <img src="https://imgbum.jobscdn.com/portal/img/empresas/0/0/1/2/0/4/5/0/9/7/logoMainPic_12045097_bum_vdbb4d006.jpg" alt="this will be any dummy image">
        </div>
        <div class="title">
            REGISTRATION SUCCESSFUL
        </div>
        <div class="content">
            <pre>
                Hey {{ first_name|title }} {{ last_name|title }}, 
                Welcome to our portal hope you feel comfortable and believe in the services provided by us.
                Your Account handling details are :
            </pre>
            <ul class="details">
                <li>Username: {{username}}</li>
                <li>Email: {{email}}</li>
                <li>User Type: {{user_type}}</li>
            </ul> 
            <p>
                Login with your account credentials to get the best out of PGCORP.
            </p>
            <a href="{{site}}{% url 'login'%}">Login</a>
        </div>
    </div>
</div>
{% load static %}

{% endblock %}

<!-- Javascript below -->
{% block javascript %}

{% endblock %}

